body
{
  background-color : #ffffff;
}


.button_set
{
    cursor:pointer;
    border-width:0px;
    border-style:solid;
    border-color:#000000;
    -webkit-border-radius:    4px;
    -moz-border-radius:    4px;
    border-radius:    4px;
    text-align:center;
    width:100px;
    height:40px;
    padding-top:undefinedpx;
    padding-bottom:undefinedpx;
    font-size:15px;
    font-family:sans-serif;
    font-style:italic;
    font-weight:bold;
    text-transform: uppercase;
    color:#ffffff;
    background:#333333;
    display:inline-block;
}

.button_set:hover
{
    background:#4f4f4f;
}


.button_square
{
    cursor:pointer;
    border-width:0px;
    border-style:solid;
    border-color:#000000;
    -webkit-border-radius:    4px;
    -moz-border-radius:    4px;
    border-radius:    4px;
    text-align:center;
    width:40px;
    height:40px;
    padding-top:undefinedpx;
    padding-bottom:undefinedpx;
    font-size:30px;
    font-family:sans-serif;
    font-style:italic;
    font-weight:bold;
    text-transform: uppercase;
    color:#ffffff;
    background:#333333;
    display:inline-block;
}

.button_square:hover
{
    background:#4f4f4f;
}


.input_temp{
    border-width:0px;
    border-style:solid;
    border-color:#3d3d3d;
    -webkit-border-radius:    0px;
    -moz-border-radius:    0px;
    border-radius:    0px;
    font-size:30px;
    font-family:sans-serif;
    color:#2d2e2e;
    padding-left:0px;
    width:60px;
    text-align: center;
    height:29px;
    background-color:transparent;
    font-variant:small-caps;
}

.clock{
    padding:0px;
    color:#414141;
    text-align:center;
    letter-spacing:0pt;
    word-spacing:0pt;
    font-size:17px;
    font-family:sans-serif;
    font-style:italic;
    font-weight: bold;
    text-transform: uppercase;
}


.text{
    padding:15px;
    color:#414141;
    text-align:center;
    letter-spacing:1pt;
    word-spacing:1pt;
    font-size:17px;
    font-family:sans-serif;
    font-style:italic;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.case {
    margin-right: auto;
    margin-left: auto;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;

    width: auto;
    background-color: #FFFFFF;

    box-shadow: 10px 10px 5px #888888;
    border:2px solid #606060; 
   
 
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
    
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
    
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
    
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;

}.case table{
    border-collapse: collapse;
        border-spacing: 0;
    width:auto;
    height:auto;
    margin:0px;padding:0px;
}

.lcd {

background: #02acd4;
background: -moz-linear-gradient(top, #02acd4 0%, #02acd4 60%, #007bb7 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #02acd4), color-stop(60%, #02acd4), color-stop(100%, #007bb7));
background: -webkit-linear-gradient(top, #02acd4 0%, #02acd4 60%, #007bb7 100%);
background: -o-linear-gradient(top, #02acd4 0%, #02acd4 60%, #007bb7 100%);
background: -ms-linear-gradient(top, #02acd4 0%, #02acd4 60%, #007bb7 100%);
background: linear-gradient(to bottom, #33bbff 0%, #33bbff 60%, #007bb7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02acd4', endColorstr='#007bb7', GradientType=0 );

   margin-right: auto;
    margin-left: auto;
    padding:0px;
    width: auto;
/*    background-color: #33CCFF; */

    /* box-shadow: 10px 10px 5px #888888; */
    border:1px solid #7d7d7d;
   

}.lcd table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.lcd tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.lcd table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.lcd table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.lcd tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.table tr:hover td{
    background-color:#ffffff;
}
.lcd td{
    vertical-align:middle;
    background-color:transparent;

    border:0px solid #000000;
    border-width:0px 0px 0px 0px;
    text-align:center;
    padding:10px;
    font-size:15px;
    font-family:sans-serif;
    font-weight:normal;
    color:#000000;
} 
