body
{
  background-color : #ffffff;
}


.button_set
{
    cursor:pointer;
    border-width:0px;
    border-style:solid;
    border-color:#000000;
    -webkit-border-radius:    4px;
    -moz-border-radius:    4px;
    border-radius:    4px;
    text-align:center;
    width:150px;
    height:60px;
    padding-top:undefinedpx;
    padding-bottom:undefinedpx;
    font-size:25px;
    font-family:arial;
    font-style:italic;
    font-weight:bold;
    text-transform: uppercase;
    color:#ffffff;
    background:#333333;
    display:inline-block;
}

.button_set:hover
{
    background:#4f4f4f;
}

.button_square
{
    cursor:pointer;
    border-width:0px;
    border-style:solid;
    border-color:#000000;
    -webkit-border-radius:    4px;
    -moz-border-radius:    4px;
    border-radius:    4px;
    text-align:center;
    width:40px;
    height:40px;
    padding-top:undefinedpx;
    padding-bottom:undefinedpx;
    font-size:30px;
    font-family:arial;
    font-style:italic;
    font-weight:bold;
    text-transform: uppercase;
    color:#ffffff;
    background:#333333;
    display:inline-block;
}

.button_square:hover
{
    background:#4f4f4f;
}

.input_temp{
    border-width:0px;
    border-style:solid;
    border-color:#3d3d3d;
    -webkit-border-radius:    0px;
    -moz-border-radius:    0px;
    border-radius:    0px;
    font-size:45px;
    font-family:arial;
    font-style:italic;
    color:#2d2e2e;
    padding-left:5px;
    width:150px;
    height:60px;
    background-color:transparent;
    font-variant:small-caps;
}


.text{
    padding:15px;
    color:#414141;
    text-align:center;
    letter-spacing:1pt;
    word-spacing:1pt;
    font-size:25px;
    font-family:Courier;
    font-style:italic;
    font-weight: bold;
    text-transform: uppercase;
}

.case {
    margin-right: auto;
    margin-left: auto;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;

    width: 100%;
    hieght: 100%;
    background-color: #FFFFFF;

    box-shadow: 10px 10px 5px #888888;
    border:2px solid #606060; 
   
 
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
    
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
    
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
    
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;

}.case table{
    border-collapse: collapse;
        border-spacing: 0;
    width: 100%;
    height: 100%;
    margin:0px;padding:0px;
}

.lcd {
    margin-right: 100%;
    margin-left: 100%;
    padding: 0px;
    width: 100%;
    background-color: #33CCFF;

    /* box-shadow: 10px 10px 5px #888888; */
    border:0px solid #7d7d7d;
   
    /* 
    -moz-border-radius-bottomleft:15px;
    -webkit-border-bottom-left-radius:15px;
    border-bottom-left-radius:15px;
    
    -moz-border-radius-bottomright:15px;
    -webkit-border-bottom-right-radius:15px;
    border-bottom-right-radius:15px;
    
    -moz-border-radius-topright:15px;
    -webkit-border-top-right-radius:15px;
    border-top-right-radius:15px;
    
    -moz-border-radius-topleft:15px;
    -webkit-border-top-left-radius:15px;
    border-top-left-radius:15px;
    */

}.lcd table{
    border-collapse: collapse;
        border-spacing: 0;
    width: 100%;
    height: 100%;
    margin:0px;padding:0px;
}.lcd tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.lcd table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.lcd table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.lcd tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.table tr:hover td{
    background-color:#ffffff;
}
.lcd td{
    vertical-align:middle;
    background-color:transparent;

    border:0px solid #000000;
    border-width:0px 0px 0px 0px;
    text-align:center;
    padding:10px;
    font-size:25px;
    font-family:arial;
    font-weight:normal;
    color:#000000;
} 
/*
}.lcd tr:last-child td{
    border-width:0px 0px 0px 0px;
}.lcd tr td:last-child{
    border-width:0px 0px 0px 0px;
}.lcd tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.lcd tr:first-child td{
    /* background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
    background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");    background: -o-linear-gradient(top,#ff7f00,ff7f00);
    background-color:#ff7f00;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 0px 0px;
    font-size:15px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.lcd tr:first-child:hover td{
    /* background-color:#ff7f00; 
}
.lcd tr:first-child td:first-child{
    border-width:0px 0px 0px 0px;
}
.lcd tr:first-child td:last-child{
    border-width:0px 0px 0px 0px;
}

*/
