html
{
  border-spacing: 0px;
  border-collapse: collapse;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body
{
  padding: 0px;
  border: 0px;
  margin: 0px 0px 0px 0px;
  background-color : #ffffff;
  height: 270;
  width: 478;
}




.button_set
{
    cursor:pointer;
    border-width:0px;
    border-style:solid;
    border-color:#000000;
    -webkit-border-radius:    4px;
    -moz-border-radius:    4px;
    border-radius:    4px;
    text-align:center;
    width:100px;
    height:40px;
    padding-top:undefinedpx;
    padding-bottom:undefinedpx;
    font-size:15px;
    font-family:sans-serif;
    font-style:italic;
    font-weight:bold;
    text-transform: uppercase;
    color:#ffffff;
    background:#333333;
    display:inline-block;
}

.button_set:hover
{
    background:#4f4f4f;
}

.button_square
{
    cursor:pointer;
    border-width:0px;
    border-style:solid;
    border-color:#000000;
    -webkit-border-radius:    4px;
    -moz-border-radius:    4px;
    border-radius:    4px;
    text-align:center;
    width:40px;
    height:40px;
    padding-top:undefinedpx;
    padding-bottom:undefinedpx;
    font-size:30px;
    font-family:sans-serif;
    font-style:italic;
    font-weight:bold;
    text-transform: uppercase;
    color:#ffffff;
    background:#333333;
    display:inline-block;
}

.button_square:hover
{
    background:#4f4f4f;
}

.input_temp{
    border-width:0px;
    border-style:solid;
    border-color:#3d3d3d;
    -webkit-border-radius:    0px;
    -moz-border-radius:    0px;
    border-radius:    0px;
    font-size:25px;
    font-family:sans-serif;
    font-style:italic;
    color:#2d2e2e;
    padding-left:5px;
    width:80%;
    text-align: center;
    height:29px;
    background-color:transparent;
    font-variant:small-caps;
}

.clock{
    padding: 0px;
    color: #414141;
    text-align: center;
    letter-spacing: 1pt;
    word-spacing: 1pt;
    font-size: 18px;
    font-family: sans-serif;
    font-style:italic;
    font-weight: bold;
    text-transform: uppercase;
}



.text{
    padding: 0px;
    color:#414141;
    text-align:center;
    letter-spacing:1pt;
    word-spacing:1pt;
    font-size:18px;
    font-family:sans-serif;
    font-style:italic;
    font-weight: bold;
    text-transform: uppercase;
}

.case {
  border-spacing: 0px;
  border-collapse: collapse;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.lcd {
    margin-right: 0px;
    margin-left: 0px;
    background: #02acd4;
    background: -moz-linear-gradient(top, #02acd4 0%, #02acd4 60%, #007bb7 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #02acd4), color-stop(60%, #02acd4), color-stop(100%, #007bb7));
    background: -webkit-linear-gradient(top, #02acd4 0%, #02acd4 60%, #007bb7 100%);
    background: -o-linear-gradient(top, #02acd4 0%, #02acd4 60%, #007bb7 100%);
    background: -ms-linear-gradient(top, #02acd4 0%, #02acd4 60%, #007bb7 100%);
    background: linear-gradient(to bottom, #33bbff 0%, #33bbff 60%, #007bb7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02acd4', endColorstr='#007bb7', GradientType=0 );

    padding:0px;
    width: 476px;
    height: 268px;
    background-color: #33CCFF;

   
}.lcd table{
    border-width:0px 0px 0px 0px;
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.lcd tr:last-child td:last-child {
    border-bottom-right-radius:0px;
}
.lcd table tr:first-child td:first-child {
    border-top-left-radius:0px;
}
.lcd table tr:first-child td:last-child {
    border-top-right-radius:0px;
}.lcd tr:last-child td:first-child{
    border-bottom-left-radius:0px;
}.table tr:hover td{
    background-color:#ffffff;
}
.lcd td{
    vertical-align:middle;
    background-color:transparent;

    border:0px solid #000000;
    border-width:0px 0px 0px 0px;
    text-align:center;
    padding:2px;
    font-size:2px;
    font-family:sans-serif;
    font-weight:normal;
    color:#000000;
} 
