<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>KStat</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <!-- <link href="../static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/cover.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="../static/bootstrap/css/theme.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="{{ static_url("jquery.min.js") }}"></script>

    <script type="text/javascript">

    var timerId = 0;
    var Celcius;

    $(document).ready(function() { 
        RefreshVals();

        timerId = setInterval( function() {
            RefreshVals();
        }, 2000);
    });

    function RefreshVals() 
    {

    $.get('/stats', function (data) 
        {
            var obj = JSON.parse(data);
            //console.log(obj);

            Celcius = obj.Celcius;
            var CurrTemp = obj.CurrTemp;
            var UserTemp = obj.UserTemp;
            var OutsideTemp = obj.OutsideTemp;

            if (Celcius == 0) {
                CurrTemp = Math.round((CurrTemp * 1.8 + 32) * 100) / 100;
                UserTemp = Math.round((UserTemp * 1.8 + 32) * 10) / 10;
                OutsideTemp = Math.round((OutsideTemp * 1.8 + 32) * 100) / 100;
                document.getElementById("degtype").innerHTML = "F";
                document.getElementById("degtype1").innerHTML = "F";
                document.getElementById("degtype2").innerHTML = "F";
            } else {
                document.getElementById("degtype").innerHTML = "C";
                document.getElementById("degtype1").innerHTML = "C";
                document.getElementById("degtype2").innerHTML = "C";
            }

            $('#CurrTempDiv').text(CurrTemp);
            $('#CurrHumDiv').text(obj.CurrHum);
            $('#UserTempDiv').text(UserTemp);
            $('#OutsideTempDiv').text(OutsideTemp);

            init(obj.HeatSwitchVal, obj.CoolSwitchVal, obj.FanSwitchVal, obj.HeatStatusVal, obj.CoolStatusVal, obj.FanStatusVal);

        });
    }

    /************************************************* 
    * init function 
    *************************************************/

    function init(HeatSwitchVal, CoolSwitchVal, FanSwitchVal, HeatStatusVal, CoolStatusVal, FanStatusVal)
    {
    //console.log(HeatSwitchVal, CoolSwitchVal, FanSwitchVal, HeatStatusVal, CoolStatusVal, FanStatusVal);
    var Option = ['Heat', 'Cool', 'Fan'];
    var SwitchVals = [HeatSwitchVal, CoolSwitchVal, FanSwitchVal];
    var StatusVals = [HeatStatusVal, CoolStatusVal, FanStatusVal];

        var text;
        for (var i=0; i<Option.length; i++)
        {
            if (SwitchVals[i] == 1)
            {
                document.getElementById(Option[i] + 'Button').value = Option[i] + ": On  ";
                SwitchStatus = true;
            } else {
                document.getElementById(Option[i] + 'Button').value = Option[i];
                SwitchStatus = false;
            }
            document.getElementById(Option[i] + 'Switch').checked = SwitchStatus;
            document.getElementById(Option[i] + 'Status').checked = SwitchStatus;
        }
    }


    function Switch(item)
    {
        var checkbox = document.getElementById(item + 'Switch');
        var button = document.getElementById(item + 'Button');
        if (checkbox.checked == 1)
        {
            checkbox.checked = 0;
            button.value = item;
        } else {
            checkbox.checked = 1;
            button.value = item + ': On';
        }

        ChangeVal(0);
        //$.post('/', $( "#mainForm" ).serialize()); 
    }

    function ChangeVal(Change)
    {

        //First disable the timer, make a change and if no other change comes
        //in before 2 seconds, update the page

        clearInterval(timerId); //incase you want to disable the timer
        document.getElementById('UserTempDiv').textContent = parseFloat(document.getElementById('UserTempDiv').textContent) + Change;

        document.getElementById('SetTemp').value = parseFloat(document.getElementById('UserTempDiv').textContent);

        $.post('/', $( "#mainForm" ).serialize()); 

        timerId = setInterval( function() {
            RefreshVals();
        }, 2000);

    }

    function startTime()
    {
        var today=new Date();
        var h=today.getHours();
        var m=today.getMinutes();
        var s=today.getSeconds();
        var month=today.getMonth();
        var day=today.getDay();
        var dates=today.getDate();
        var months = new Array('Jan','Feb','March','April','May', 'June','July','Aug','Sept','Oct','Nov','Dec');
        var days = new Array('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat');

        // add a zero in front of numbers<10
        m=checkTime(m);
        document.getElementById('ClockDiv').innerHTML = days[day] + " " + months[month] + " " + dates + ", " + h + ":" + m;
        t=setTimeout(function(){startTime()},60000);
    }

    function checkTime(i)
    {
        if (i<10) {
            i="0" + i;
        }
    return i;
    }

    TempTimerId = 0;
    function mouseDown(Change)
    {
         TempTimerId = setInterval( function() {
             ChangeVal(Change);
         }, 500);
    }

    function mouseUp()
    {
        clearInterval(TempTimerId); //incase you want to disable the timer 
    }

    </script>

  </head>

<body OnLoad="init({{Heat_Switch}}, {{Cool_Switch}}, {{Fan_Switch}}, {{Heat_Status}}, {{Cool_Status}}, {{Fan_Status}});" role="document">


    <div class="site-wrapper">
    <div class="site-wrapper-inner">
    <div class="cover-container">


        <div class="inner cover">

        <script type="text/javascript">

        /* if (window.screen.width / window.devicePixelRatio > 980)
        {
            //document.write('touch screen detected: ' + screen.width + ' h ' + screen.height + ' pr ' + window.devicePixelRatio );
        } */
       </script>

        <table class="lcd" style="height: 271px; width: 400px;">
          <form method="post" id="mainForm" action="/">
              <tr>
                  <td colspan=4>
                    <div id="ClockDiv" class="text"></div>
                  </td>

                  <!-- hidden inputs --> <div style="display: none; visibility: hidden">
                  <input type="checkbox" id="HeatSwitch" name="Heat_Switch">
                  <input type="checkbox" id="CoolSwitch" name="Cool_Switch">
                  <input type="checkbox" id="FanSwitch" name="Fan_Switch">
                  <input type="checkbox" id="HeatStatus" name="Heat_Status">
                  <input type="checkbox" id="CoolStatus" name="Cool_Status">
                  <input type="checkbox" id="FanStatus" name="Fan_Status">
                  <input type="text" id="SetTemp" name="SetTemp">
                  </div>
              </tr>
              <tr>
                  <!-- end hidden inputs -->
                  <td><div style="display:block;" class="text">Inside</div></td>
                  <td><div style="display:block;" class="text">Setting</div></td>
                  <td><div style="display:block;" class="text">Outside</div></td>
                  <td>
                    <button type="button" value="+" class="btn btn-lg btn-default" OnClick="ChangeVal(0.5)" touchstart="mouseDown(0.25)" touchend="mouseDown(0.25)">
                        <span class="glyphicon glyphicon-plus"></span></td>
                    </button>
                </td>
                  <!--  OnMouseDown="mouseDown(0.25)" OnMouseUp="clearInterval(TempTimerId)"></td> -->
              </tr>
              <tr>
                  <td>
                    <div id="CurrTempDiv" class="input_temp" style="display: inline;"></div><sup>&deg;<div id="degtype" style="display: inline;"></div></sup><br>
                    <sup><div id="CurrHumDiv" class="input_temp" style="display: inline;"></div>%RH</sup>
                  </td>
                  <td><div id="UserTempDiv" class="input_temp" style="display: inline;"></div><sup>&deg;<div id="degtype1" style="display: inline;"></div></sup></td>
                  <td><div id="OutsideTempDiv" class="input_temp" style="display: inline;"></div><sup>&deg;<div id="degtype2" style="display: inline;"></div></sup></td>
                  <td>
                    <button type="button" value="o" class="btn btn-lg btn-default" OnClick="document.location='settings'";>
                        <span class="glyphicon glyphicon-cog"></span></td>
                    </button>
                  <td></td>
              </tr>
              <tr>
                  <td><input style="width: 100px;" type="button" value="Heat" class="btn btn-lg btn-default" OnClick="Switch('Heat')"; id="HeatButton"></td>
                  <td><input style="width: 100px;" type="button" value="Cool" class="btn btn-lg btn-default" OnClick="Switch('Cool')"; id="CoolButton"></td>
                  <td><input style="width: 100px;" type="button" value="Fan" class="btn btn-lg btn-default" OnClick="Switch('Fan')"; id="FanButton"></td>
                  <td>
                    <button type="button" value="-" class="btn btn-lg btn-default" OnClick="ChangeVal(-0.5)"; touchstart="mouseDown(0.25)" touchend="mouseDown(0.25)">
                        <span class="glyphicon glyphicon-minus"></span></td>
                    </button>
                  </td>
                  <!--  OnMouseDown="mouseDown(-0.25)" OnMouseUp="clearInterval(TempTimerId)"></td> -->
              </tr>
          </form>
          </table>
        </div> <!-- /inner cover -->


        </div>
        </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
        /* Load after page loads - Launch the timer */
        startTime();
    </script>
  </body>
</html>
