<!DOCTYPE html>
<html ng-app>
    <head>
    <title>Logging</title>
    <!-- <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/static/m_bluegray.css?v=db9d5" type="text/css" />
    <link rel="stylesheet" media="screen" href="/static/bluegray.css?v=b6e29" type="text/css"> -->
    <script src="/static/angular.js"></script>
    </head>
    <body>
<div class="container" data-ng-init="logs={{ ThermLogs }}">
    <ul>
        <li data-ng-repeat="log in logs">[[ log ]]</li>
    </ul>

</div>

</body>
</html>

