<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KStat - Configuration</title>

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/theme.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-spy="scroll" data-target=".navbar-header">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">KStat</a>
          <a class="navbar-brand" href="/wifi">Wifi</a>
          <!-- not done yet <a class="navbar-brand" href="/schedule">Schedules</a> -->
          <a class="navbar-brand" href="/log">Log</a>
        </div>
      </div>
    </div>

    <br>
    <!-- main container -->
    <div class="container">

        <div id="system" class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">System Settings</h3>
            </div>
            <div class="panel-body">
              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th width=100%>Wifi Settings</th>
                    <th><a href="./wifi">Link</a></th>
                  </tr>
                </thead>
                </table>



              <!-- Table -->
              <form method=post action=./settings>
              <table class="table">
                <thead>
                  <tr>
                    <th>Setting Name</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>celcius: 1 for celcius, 0 for farenheit <b>default 1</b></td>
                    <td><input class="input" style="width:50px;" name="celcius" type="text" value="{{ celcius }}"></td>
                  </tr>
                  <tr>
                    <td>day_heat_temp: daytime heating temperature <b>default 21</b></td>
                    <td><input class="input" style="width:50px;" name="day_heat_temp" type="text" value="{{ day_heat_temp }}">
                  </tr>
                  <tr>
                    <td>night_heat_temp: night time heating temperature at  night_start <b>default 19</b></td>
                    <td><input class="input" style="width:50px;" name="night_heat_temp" type="text" value="{{ night_heat_temp }}"></td>
                  </tr>
                  <tr>
                    <td>day_cool_temp: daytime cooling temperature <b>default 25</b></td>
                    <td><input class="input" style="width:50px;" name="day_cool_temp" type="text" value="{{ day_cool_temp }}"></td>
                  </tr>
                  <tr>
                    <td>night_cool_temp: night time cool setting temperature <b>default 30</b></td>
                    <td><input class="input" style="width:50px;" name="night_cool_temp" type="text" value="{{ night_cool_temp }}"></td>
                  </tr>
                  <tr>
                    <td>night_start: hour when energy savings starts <b>default 23</b></td>
                    <td><input class="input" style="width:50px;" name="night_start" type="text" value="{{ night_start }}"></td>
                  </tr>
                  <tr>
                    <td>night_end: hour when energy savings ends <b>default 7</b></td>
                    <td><input class="input" style="width:50px;" name="night_end" type="text" value="{{ night_end }}"></td>
                  </tr>
                  <tr>
                    <td>heat_delta_mon: monitor for temperature delta while heating system is on, cycle if no delta observered <b>default 0</b></td>
                    <td><input class="input" style="width:50px;" name="heat_delta_mon" type="text" value="{{ heat_delta_mon }}"></td>
                  </tr>
                  <tr>
                  <td>cool_delta_mon: monitor for temperature delta while cooling system is on, cycle if no delta observered <b>default 0</b></td>
                    <td><input class="input" style="width:50px;" name="cool_delta_mon" type="text" value="{{ cool_delta_mon }}"></td>
                  </tr>
                  <tr>
                    <td>digital_temp_calib: degrees subtracted from temperature for calibration <b>default 0</b></td>
                    <td><input class="input" style="width:50px;" name="digital_temp_calib" type="text" value="{{ digital_temp_calib }}">
                  </tr>
                  <tr>
                    <td>digital_hum_calib: percent added to humidity for calibration <b>default 0</b></td>
                    <td><input class="input" style="width:50px;" name="digital_hum_calib" type="text" value="{{ digital_hum_calib }}"></td>
                  </tr>
                    <td>sensors_read: Number of analog sensors to read from, positive integer from 1 to 8 <b>default 0</b></td>
                    <td><input class="input" style="width:50px;" name="sensors_read" type="text" value="{{ sensors_read }}"></td>
                  </tr>
                 <tr>
                    <td>sensor_log_interval: How often to poll the sensors and store logging data in seconds <b>default 600</b></td>
                    <td><input class="input" style="width:50px;" name="sensor_log_interval" type="text" value="{{ sensor_log_interval }}"></td>
                  </tr>
                 <tr>
                    <td>fan_schedule_start: When to start the fan on a schedule, integer 24 hour <b>default 0</b></td>
                    <td><input class="input" style="width:50px;" name="fan_schedule_start" type="text" value="{{ fan_schedule_start }}"></td>
                  </tr>
                 <tr>
                    <td>fan_schedule_stop: When to stop the fan on a schedule, integer 24 hour. Setting to the same number of fan_schedule_start disables this. <b>default 0</b></td>
                    <td><input class="input" style="width:50px;" name="fan_schedule_stop" type="text" value="{{ fan_schedule_stop }}"></td>
                  </tr>

                  <tr>
                    <td>heat_delta_above: A value added to the desired temperature where the heating will stop. The greater the value,
                    the less frequently the heating device will run. The lifetime of the heating device can be extended by running it
                    longer at greater intervals apart (resulting in a higher vlaue here). A larger temperature delta may impact comfort. 
                    Further if the home heat retention efficiency is low, the heating system will run more frequently for short periods of time 
                    with a lower value here (more mechanical stress). <b>default 0.3</b></td>
                    <td><input class="input" style="width:50px;" name="heat_delta_above" type="text" value="{{ heat_delta_above }}"></td>
                  </tr>
                  <tr>
                    <td>heat_delta_below: A value subtracted from the desired temperature where the heating will stat. Similar to above,
                    increasing this value could improve mechanical lifetime at the cost of greater temperature deltas. <b>default 0.3</b></td>
                    <td><input class="input" style="width:50px;" name="heat_delta_below" type="text" value="{{ heat_delta_below }}"></td>
                  </tr>
                  <tr>
                    <td>airport_code: 3 or 4 character IATA airport code for nearest airport. Used for weather display <b>default none</b></td>
                    <td><input class="input" style="width:50px;" name="airport_code" type="text" value="{{ airport_code }}"></td>
                  </tr>
                </tbody>
              </table>
              <input style="width:120px;" type="submit" value="Apply and Save">
              </form>


            </div>
          </div>
        </div>
    </div><!-- end container -->  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
