<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KStat - Configuration</title>

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/theme.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-spy="scroll" data-target=".navbar-header">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-arrow-left"></span></a>
          <a class="navbar-brand" href="/">Back</a>
          <a class="navbar-brand" href="/settings">Settings</a>
          <a class="navbar-brand" href="/schedule">Schedules</a>
          <a class="navbar-brand" href="/log">Log</a>
        </div>
      </div>
    </div>

    <!-- main container -->
    <div class="container">
        <!-- <div id="system" class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body"> -->
                <!-- <p>IP/Status: // IPAddress  //</p> -->

                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="../static/jquery.min.js"></script>
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script src="../static/bootstrap/js/bootstrap.js"></script>
                <script type="text/javascript" src="../static/jsKeyboard.js"></script>
                <link rel="stylesheet" href="../static/jsKeyboard.css" type="text/css" media="screen"/>

                <table>
                    <tr>
                        <td><form method=post action=./wifi>
                        <select name="apenc" style="width:100px;">
                          <option value="{{ AP1 }}">{{ AP1 }}</option>
                          <option value="{{ AP2 }}">{{ AP2 }}</option>
                          <option value="{{ AP3 }}">{{ AP3 }}</option>
                          <option value="{{ AP4 }}">{{ AP4 }}</option>
                          <option value="{{ AP5 }}">{{ AP5 }}</option>
                        </select></td>
                        <td><input class="input" style="width:100px;" name="psk" type="text" placeholder="Type passphrase..."></td>
                        <td><input type="submit" value="Save/Connect"></td>
                        </form>
                    </tr>
                    <tr>
                        <td colspan="3"> 
                            <div id="virtualKeyboard"></div>
                        </td>
                </table>

            <!-- </div>
          </div>
       </div> -->
    </div>

    <script src="../static/main.js"></script>
  </body>
</html>
